<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5HNLDBJ7EL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5HNLDBJ7EL');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prepare for competitive exams with ExamFit. Practice previous year papers, explore subject-wise questions, and boost your exam readiness.">
  <meta property="og:title" content="ExamFit – Prepare Smarter" />
  <meta property="og:description" content="Practice competitive exams with real question papers and smart subject-wise prep." />
  <meta property="og:image" content="/templates/logo.webp" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://examfit.in" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7935640093775501"
     crossorigin="anonymous"></script>
    <title>Subjects - <%= examName %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <meta name="google-adsense-account" content="ca-pub-7935640093775501">
    
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="hero-section">
            <h1 class="hero-title">
                <%= examName %> Subjects
            </h1>
            <p class="hero-subtitle">Select a subject to continue</p>

            <div class="subjects-container show-subjects">
                <% subjects.forEach(subject=> { %>
                    <a href="/<%= examId %>/<%= subject.subjectId %>/questionPapers" class="subject-card">
                        <i class="fas fa-book-open subject-icon"></i>
                        <span class="subject-name">
                            <%= subject.subjectName %>
                        </span>
                    </a>
                    <% }); %>
            </div>
        </div>
</body>

</html>